@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap'); 

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
.image-format {
  width: 500px;
}
.format-text {
  padding: 10px 0px;
  font-size: 15px;
  width: 350px;
  border-style: none;
  outline: none;
  border-bottom: 2px solid black ;
  opacity: 0.5;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
.input-section {
  display: flex;
  flex-direction: column;
}
.seperator {
  margin-top: 5px;
  margin-bottom: 5px;
}
.component-container {
  display: flex;
  display: flex;
  justify-content: center;
  margin-top: 75px;
}
.reset-password-text {
  padding: 10px 20px;
}
.display-text {
  max-width: 300px;
  margin-bottom: 20px;
}
.form-section {
  display: flex;
  flex-direction: column;
}
.btn {
  margin-top: 50px;
  padding: 10px 50px;
  border-style: none;
  border-radius: 5px;
  background-color: #0096c7;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  max-width: 250px;
}